html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html * {
    box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input:focus, textarea:focus {
    outline: none;
    -webkit-appearance: none;
}

body {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 1rem;
    margin: 0 0.5rem;
}

body > #graph-canvas {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow-x: scroll;
    border-radius: 0.25rem;
    border: 0.0625rem solid #C39BD3;
    height: 95%;
    background-color: #FbFbFb;
    padding: 0.5rem;
    position: relative;
    flex-grow: 1;
}

body > #activity-panel {
    background-color: #F9F9F9;
    border: 0.0625rem solid #C39BD3;
    height: 95%;
    display: flex;
    border-radius: 0.25rem;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    min-width: 25rem;
    overflow-y: scroll;
    padding-bottom: 1.5rem;
}

#activity-panel > .head {
    margin: 1.25rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#activity-panel > .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

#activity-panel > .body > .item {
    background-color: #D1F2EB;
    border: 0.0625rem solid #58D68D;
    border-radius: 0.0625rem;
    height: 1.625rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    width: 90%;
    font-family: monospace;
    font-size: 0.75rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5rem;
}

.graph-tree {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    border-radius: 0.25rem;
    min-height: 98%;
}


.level {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sibling {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.vertex {
    display: flex;
    height: 5rem;
    width: 7rem;
    border-radius: 0.25rem;
    background-color: #F5EEF8;
    border: 0.0625rem solid #C39BD3;
    cursor: pointer;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:  monospace;
    user-select: none;
    flex-direction: column;
    gap: 0.5rem;
}

.vertex.file {
    background-color: #E8F8F5;
    border-color: #58D68D;
}

.vertex.file:hover {
    background-color: #D1F2EB;
    border-color: #76D7C4;
}

.vertex:hover {
    background-color: #EBDEF0;
    border-color: #C39BD3;
}

.vertex-name {
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertex-id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

#menu {
    position: absolute;
    background-color: white;
    font-size: 0.825rem;
    border: 0.0625rem solid #58D68D;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    margin: 0.025rem;
    min-width: 7rem;
    z-index: 2;
}

#menu > button {
    text-align: left;
    height: 2rem;
    padding: 0 0.85rem;
}

#menu > button:hover {
    background-color: #E8F8F5;
}

#menu > button:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#menu > button:last-of-type {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#menu > button.delete:hover {
    background-color: #FDEDEC;
}

#input {
    padding: 0.825rem;
    font-size: 0.825rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input.hide {
    display: none;
}

#input input {
    border: 0.0625rem solid #58D68D;
    border-radius: 0.0625rem;
    height: 1.625rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
}

#input button {
    background-color: #F5EEF8;
    border: 0.0625rem solid #C39BD3;
    margin-left: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.625rem;
    width: 5rem;
    border-radius: 0.25rem;
}

#input button:hover {
    background-color: #EBDEF0;
    border-color: #C39BD3;
}

.veil {
    visibility: hidden;
}

.hide {
    display: none;
}
